.btn {
  padding: 1.2rem 2rem;
  border-radius: var(--border-radius-primary);

  letter-spacing: inherit;
  color: var(--gray0);
  transition: all 0.4s ease;
}

.btn-question {
  min-width: 32rem;
  border: 2px solid var(--state-neutral);

  font-family: 'fira-code-medium-bold', sans-serif;
  font-size: 125%;
  background-color: var(--gray1);
  color: var(--gray6);
}

.btn-question:hover {
  background-color: var(--state-neutral);
  color: var(--text-color);
  transition: all 0.4s ease;
}

.btn.correct {
  border: 2px solid var(--state-correct);
  background-color: var(--state-correct);
  color: var(--gray6);
}

.btn.wrong {
  border: 2px solid var(--state-wrong);
  background-color: var(--state-wrong);
  color: var(--gray0);
}

.btn-settings,
.btn-submit,
.btn-continue,
.btn-start,
.btn-next,
.btn-restart,
.btn-save,
.btn-high-scores,
.btn-back,
.btn-exit,
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 19rem;
  height: 6rem;

  font-family: 'cubano', sans-serif;
  font-size: var(--font-size-med);
  letter-spacing: 2px;
  box-shadow: var(--card-shadow);
  background-color: var(--state-neutral);

  &.hide {
    display: none;
  }
}

.btn-settings:hover,
.btn-submit:hover,
.btn-continue:hover,
.btn-start:hover,
.btn-next:hover,
.btn-restart:hover,
.btn-save:hover,
.btn-high-scores:hover,
.btn-back:hover,
.btn-exit:hover {
  transform: scale(1.15);
  transition: all 0.4s ease;
}

.btn-settings {
  background-color: var(--pink);
}

.btn-submit,
.btn-start {
  margin-left: 8rem;
}

.btn-back {
  margin-right: 8rem;
}

.btn-next {
  margin-top: 4rem;
}

.btn-restart,
.btn-exit {
  justify-self: center;
}

.btn-exit {
  padding: 1rem 2rem;
  border: 4px solid var(--red-dark);

  background-color: var(--background);
  color: var(--red-dark);

  &:hover {
    background-color: var(--red-dark);
    color: var(--gray0);
  }
}

.btn-submit,
.btn-save {
  background-color: var(--state-correct);
}

.btn-high-scores {
  background-color: var(--orange);
}

.btn-close {
  width: 14rem;
  background-color: var(--state-wrong);
  box-shadow: none;

  &:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
  }
}
