.app__controls {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  flex-wrap: wrap;

  margin: 4rem 0;

  &.gap-12 {
    gap: 12rem;
  }
}
