@font-face {
  font-family: fira-code-light;
  src: url('/src/assets/fonts/Fira_code/FiraCode-Light.ttf');
}

@font-face {
  font-family: fira-code-regular;
  src: url('/src/assets/fonts/Fira_code/FiraCode-Regular.ttf');
}

@font-face {
  font-family: fira-code-medium;
  src: url('/src/assets/fonts/Fira_code/FiraCode-Medium.ttf');
}

@font-face {
  font-family: fira-code-semi-bold;
  src: url('/src/assets/fonts/Fira_code/FiraCode-SemiBold.ttf');
}

@font-face {
  font-family: fira-code-bold;
  src: url('/src/assets/fonts/Fira_code/FiraCode-Bold.ttf');
}

@font-face {
  font-family: burbank-big-medium;
  src: url('/src/assets/fonts/Burbank_big/BurbankBigRegularTT-Medium.ttf');
}

@font-face {
  font-family: burbank-big-condensed;
  src: url('/src/assets/fonts/Burbank_big/BurbankBigCondensedFont.otf');
}

@font-face {
  font-family: cubano;
  src: url('/src/assets/fonts/Cubano/Cubano.ttf');
}
