.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  // min-width: 40rem;
  padding: 1.2rem 3.6rem;
  border-radius: var(--border-radius-primary);

  text-align: center;
  font-family: 'fira-code-bold', sans-serif;
  font-family: 'cubano', sans-serif;

  font-size: var(--font-size-lg);
  text-transform: uppercase;
  background-color: var(--orange);
  color: var(--gray0);
}

.app__information,
.app__language,
.app__theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  & span {
    position: absolute;
    transform: scale(0) translateX(0);
    transition: transform 0.2s ease;
  }

  &:hover span {
    transform: scale(1) translateY(5rem);
  }

  & i {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
  }
}

.app__information {
  &:hover i {
    color: var(--state-neutral);
  }
}

.app__theme {
  &:hover i[class*='fa-moon'] {
    color: var(--purple);
  }

  &:hover i[class*='fa-sun'] {
    color: var(--yellow);
  }
}

.app__language {
  &:hover i {
    color: var(--state-correct);
  }
}
