.app__leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  &.hide {
    display: none;
  }
}

.leaderboard__title {
  grid-area: result-title;
  justify-self: center;

  // min-width: 40rem;
  // width: 80%;
  padding: 1rem 4rem;
  border: 3px solid var(--green);
  border-radius: var(--border-radius-primary);
  border-bottom-width: 6px;

  text-align: center;
  font-family: 'fira-code-bold', sans-serif;
  font-size: var(--font-size-lg);
  color: var(--green);
}

.leaderboard__table {
  max-height: 28.6rem;
  overflow-y: scroll;

  table,
  th,
  td {
    border: 2px solid var(--green);
  }
}

.leaderboard__description {
  width: 80%;
  text-align: center;
  line-height: 2.8rem;

  span {
    font-family: 'burbank-big-condensed', sans-serif;
    font-size: var(--font-size-med);
    letter-spacing: 2.4px;
    color: var(--pink);
  }

  span:last-child {
    text-transform: uppercase;
  }
}
