.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  min-width: 30rem;
  max-width: 80rem;
  height: auto;
  padding: 2.4rem;
  border-radius: var(--border-radius-primary);
}

.modal__header {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2.4rem;
  border-radius: var(--border-radius-primary);

  .modal--success & {
    background-color: var(--green);
  }

  .modal--info & {
    background-color: var(--blue);
  }

  .modal--warning & {
    background-color: var(--yellow-dark);
  }

  .modal--error & {
    background-color: var(--red);
  }
}

.modal__title-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: var(--white);
    font-size: var(--font-size-lg);

    .modal--warning & {
      color: var(--gray5);
    }
  }
}

.modal__title {
  width: 100%;
  margin-left: 2rem;
  border-radius: var(--border-radius-primary);

  font-family: 'fira-code-semi-bold', sans-serif;
  font-size: var(--font-size-lg);
  color: var(--gray0);

  .modal--warning & {
    color: var(--gray5);
  }
}

.modal__close-icon {
  i {
    font-size: var(--font-size-lg);
    color: var(--white);
    transition: transform 0.2s ease;

    .modal--warning & {
      color: var(--gray5);
    }
  }

  i:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: transform 0.2s ease;
  }
}

.btn__wrapper {
  display: flex;
  justify-content: end;
  gap: 4rem;

  width: 100%;
}

.modal__message {
  padding: 0 2rem;

  text-align: justify;
  line-height: 2;
  color: var(--gray5);
}

.modal__close-btn {
  align-self: flex-end;
}

.modal--success {
  background-color: var(--green-blur);
  border-color: var(--green-light);
  outline: 6px solid var(--green-light);
}

.modal--info {
  background-color: var(--blue-blur);
  border-color: var(--blue-light);
  outline: 6px solid var(--blue-light);
}

.modal--warning {
  background-color: var(--yellow-blur);
  border-color: var(--yellow-dark);
  outline: 6px solid var(--yellow-light);
}

.modal--error {
  background-color: var(--red-blur);
  border-color: var(--red-light);
  outline: 6px solid var(--red-light);
}
