.question__wrapper {
  display: grid;
  grid-gap: 3.2rem;
  grid-template-areas:
    'progress timer'
    'title title'
    'answer answer'
    'answer-progress answer-progress';
  align-items: center;
  margin-top: 4rem;

  &.hide {
    display: none;
  }
}

.question__progress {
  grid-area: progress;

  text-align: center;
  font-family: 'fira-code-semi-bold', sans-serif;
  color: var(--text-color);
}

.progress__bar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 4rem;
  margin-top: 4px;
  border: 4px solid var(--blue-dark);
  border-radius: var(--form-border-radius);
}

.progress__bar-full {
  height: 2.8rem;
  margin: 0 2px;

  background-color: var(--blue);
}

.app__timer {
  grid-area: timer;
  justify-self: end;

  min-width: 18rem;
  padding: 1rem;
  border-radius: 6px;

  font-family: 'fira-code-semi-bold', sans-serif;
  font-size: var(--font-size-med);
  text-align: center;
  background-color: var(--pink);
  color: var(--gray0);
}

.question__title {
  grid-area: title;

  text-align: center;
  font-size: var(--font-size-med);
  color: var(--text-color);

  hr:first-child {
    margin-bottom: 6px;
  }

  hr:last-child {
    margin-top: 6px;
  }
}

.question__answers {
  grid-area: answer;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.question__answers-progress {
  grid-area: answer-progress;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-family: 'fira-code-semi-bold', sans-serif;

  &.hide {
    display: none;
  }
}

.answer__progress-bar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 4rem;
  margin-top: 4px;
  border-radius: var(--form-border-radius);

  .answer__progress--correct & {
    border: 4px solid var(--green-dark);
  }

  .answer__progress--wrong & {
    border: 4px solid var(--red-dark);
  }
}

.answer__progress-bar-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.8rem;
  margin: 0 2px;

  .answer__progress--correct & {
    width: 70%;
    background-color: var(--green);
  }

  .answer__progress--wrong & {
    width: 30%;
    background-color: var(--red);
  }
}
