.app__rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 4rem;
  padding: 0 2rem;

  color: var(--text-color);

  &.hide {
    display: none;
  }

  hr {
    border: 1.6px dashed var(--purple);
  }
}

.rules__title,
.form__label {
  font-family: 'fira-code-bold', serif;
  font-size: var(--font-size-med);
}

.rules__title {
  margin-bottom: 1rem;
  min-width: 40rem;
  width: 80%;
  padding: 1rem 1.2rem;
  border: 3px solid var(--purple);
  border-radius: var(--border-radius-primary);
  border-bottom-width: 6px;

  text-align: center;
  font-family: 'fira-code-bold', sans-serif;
  font-size: var(--font-size-lg);
  color: var(--purple);
}

.rules__list {
  text-align: justify;
  letter-spacing: normal;

  & p {
    line-height: 2.4rem;
  }

  p span {
    font-family: 'fira-code-bold', serif;
  }

  p:nth-child(1) span {
    color: var(--state-neutral);
  }

  p:nth-child(4) span {
    color: var(--state-correct);
  }

  p:nth-child(5) span {
    color: var(--state-wrong);
  }

  p:nth-child(7) span {
    text-transform: uppercase;
    color: var(--orange);
  }
}

/* Gender Details */
.rules__decision {
  justify-content: center;
  gap: 1.6rem;

  width: 100%;
}

.form__group--rules {
  margin-top: 1rem;
  padding: 0;
}

.form__label--rules {
  font-size: var(--font-size-body);
  transition: color 0.4s ease-out;

  &:hover {
    color: var(--purple);
    transition: color 0.2s ease-in;
  }
}

.decision__category {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: space-around;
}

.decision__category label {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.decision__category .dot {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  border-radius: 50%;
  border: 0.16rem solid var(--purple);

  background: var(--gray1);
  transition: all 0.4s ease;
}

#dot-1:checked ~ .decision__category label .one,
#dot-2:checked ~ .decision__category label .two {
  border-color: var(--gray1);
  background: var(--purple);
}

.form__group input[type='radio'] {
  display: none;
}
