.app__settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 6rem 0 4rem 0;

  &.hide {
    display: none;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;
  padding: 1rem 1.6rem 0 1.6rem;
  border: 3px solid var(--pink);
  border-radius: var(--border-radius-primary);
}

.form__heading {
  min-width: 40rem;
  width: 80%;
  margin-bottom: 3.2rem;
  padding: 1rem 1.2rem;
  border: 3px dashed var(--pink);
  border-radius: var(--border-radius-primary);

  text-align: center;
  font-family: 'fira-code-bold', sans-serif;
  font-size: var(--font-size-lg);
  color: var(--pink);
}

.form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;

  position: relative;
  width: 100%;
  padding: 0.4rem;
  border-radius: var(--form-border-radius);

  > label span {
    color: var(--state-wrong);
  }

  &:last-child {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

.form__label,
.form__message {
  text-align: left;
}

.form__label {
  padding-left: 0.4rem;

  letter-spacing: 0.16rem;
  line-height: 2rem;
  font-size: var(--font-size-med);

  &:hover {
    color: var(--pink);
  }
}

.form__control {
  width: 32rem;
  height: 5.2rem;
  padding: 0.8rem 1.2rem;
  border: var(--form-border);
  border-bottom-width: 4px;
  border-radius: var(--form-border-radius);
  outline: none;

  font-size: var(--font-size-med);

  &:hover {
    border-color: var(--pink);
  }

  // &.invalid {
  //   border-color: var(--red);
  //   background: var(--red-blur);

  //   &:hover {
  //     background-color: var(--white);
  //   }
  // }
}

.genre__category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.genre__wrapper {
  display: block;
  position: relative;
  width: calc(100% / 4 - 1.6rem);
  padding-left: 3.2rem;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    cursor: pointer;
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: #eee;
    border: 0.16rem solid var(--pink);
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .check-mark {
    background-color: var(--gray1);
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .check-mark {
    background-color: var(--pink);
    border-color: var(--gray1);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .check-mark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  input:checked ~ .check-mark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .check-mark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: var(--font-body);
  letter-spacing: 1px;
}
